{% extends "../superAdmin/basesuadmin.html" %}

{% load static %}


{% block title %}
    DashInventario
{% endblock title %}


{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/superAdmin/inventariodash2.css' %}">
{% endblock extrastyle %}
    

{% block content %}
    
    <section class="dashboard"> 
        <h1>Inventario</h1>
        <div class="caja_dash">
            <a class="box_dash" href="{% url 'usuariodash' %}">
                <p>Usuarios</p>
                </a>
            <a class="box_dash click" href="{% url 'inventariodash' %}">
                <p>Inventario</p>
                </a>
            <a class="box_dash " href="{% url 'elementosdash' %}">
                <p>Elementos</p>
                </a>
            <a class="box_dash" href="{% url 'transacciondash' %}">
                <p>Transacciones</p>
            </a>
        </div>
        <div class="dashboard2">
            <div class="listaopciones">
                <div class="opciones">
                    <a class="opcion1" href="{% url 'reporteelementosactivos' %}">
                        Reporte Elementos Activos
                    </a>
                    <a class="opcion2" href="{% url 'reporteelementosbajas' %}">
                        Reporte Elementos de Baja
                    </a>
                    <a class="opcion3" href="{% url 'reporteelementosprestamos' %}">
                        Reporte Elementos en Prestamo
                    </a>
                </div>
            </div>
            <div class="fechas">
                <div class="logo">
                    <img src="{% static 'img/imgdashboard/senaL.png' %}" alt="" width="100px">
                </div>
                <div id="fechaHora">
                    
                </div>
            </div>
        </div>
    </section>

    
    {% block extrajs %}
    <script src="{% static 'js/usuariodash.js' %}"></script>    
    {% endblock extrajs %}
        
    


    {% endblock content %}
