<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permisos Denegados</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

<script>
    // Muestra un modal de alerta SweetAlert
    Swal.fire({
        icon: 'error',
        title: 'Permisos Denegados',
        text: 'No tiene permisos para acceder a esta vista.',
        showCancelButton: false,
        showConfirmButton: false,
        timer: 10000  // Cierra automáticamente después de 10 segundos
    }).then(function() {
        // Redirección automática al "dashboard" en Django
        window.location.href = "/dashboard/";  
    });
</script>

</body>
</html>
