@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    text-decoration: none;
}

.box_dash p{
    color: #fff;
}

.dashboard{
    margin: 20px;
}

.dashboard h1{
    padding: 20px 40px;
    font-size: 30px;
}
.caja_dash{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px 20px 0;
    align-items: center;
    text-align: center;
}

.box_dash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 20px 1px;
    background: #fc7323;
    box-shadow: 1px 2px 1px #b0afaf;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    animation: changeColor 3s;
  }
@media (max-width:750px){
    .box_dash{
        flex-direction: column;
    }
}
  
  @keyframes changeColor {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  


.box_dash:hover{
    box-shadow: none;
    transform: scale(1.1);
}
span{
    margin: 10px;
    color: #fff;
}
.box_dash a{
    text-decoration: none;
    color: #ffffff;

}



.dashboard2 {
    display: grid;
    width: 100%;
    height: 50vh;
    grid-template-columns: 1fr 0.5fr;
    justify-content: center;
    animation: slideFromLeft 2s forwards; /* Nombre de la animación, duración y retención del estado final */
    
  }
  
  
  @keyframes slideFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  

.fechas{
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

#fechaHora{
    background-color: #e37226;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 1px 4px 2px #b0afaf;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 60px;
}



.listaopciones{
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 20px;
}

.opciones{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.73);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px #b0afaf;
    transition: all 0.5s;
}

.box_dash.click{
    background: #e55400;
    transition: box-shadow 0.2s ease;
    box-shadow: 0 0 10px 1px #fc7323;
}

.box_dash.click:hover {
    transform: none;
}


.opciones a{
    color: #fff;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    text-align: center;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #238276;
    border-radius: 10px;
    box-shadow: 3px 2px 1px #b0afaf;
    transition: all 0.5s;
}

.opciones a:hover{
    box-shadow: none;
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .dashboard2 {
        grid-template-columns: 1fr;
    }
    .fechas {
        display: none !important;
    }
    .listaopciones {
        width: auto;
    }

    .caja_dash {
        display: flex;
        flex-direction: row;
        padding: 0;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        
    }
    .box_dash {
        width: 35%;
        margin: 10px;
        padding: 15px;
    }
    .opciones a {
        padding: 3px;
        width: 90%;
        font-size: small;
    }
}
