@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    text-decoration: none;
}


.dashboard{
    margin: 20px;
}
#fechaHora{
    background-color: #e37226;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 1px 4px 2px #b0afaf;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 60px;
}


.dashboard h1{
    padding: 20px 40px;
    font-size: 2rem;
}
.caja_dash{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px 20px 0;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.box_dash{
    display: flex;
    justify-content: center;
    width: 80%;
    padding:20px 1px;
    background: #fc7323;
    box-shadow: 1px 2px 1px #b0afaf;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    animation: changeColor 3s;
    margin: 10px;
  }


  
@keyframes changeColor {
0% {
    opacity: 0;
}

100% {
    opacity: 1;
}

}

.box_dash:hover{
    transform: scale(1.1);
    box-shadow: none;
    
    
}

.box_dash a{
    text-decoration: none;
    color: #ffffff;
}

.dashboard2{
    display: grid;
    width: 100%;
    height: 50vh;
    grid-template-columns: 1fr 0.5fr;
    justify-content: center;
    
    
}

.fechas{
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width:760px){
    .caja_dash{
        display: block;
        
    }
    .fechas{
        display: none;
    }
    .vista_usuario{
        width: 100%  !important;
    }
}

.dashboard2 table{
    width: 100%;
    margin: 30px 0;
    text-align: center; 
    border-collapse: collapse;
    
    
}

.vista_usuario{
    overflow: auto;
    overflow-x: hidden;
    border-radius: 10px;
    margin: 40px 20px;
    background: #ffffff;
    box-shadow: 1px 2px 1px #b9b9b9;
    transition: 0.5s;
    
}
.vista_usuario:hover{
    box-shadow: none;
}
::-webkit-scrollbar {
    width: 5px; 
}

::-webkit-scrollbar-track {
    background: #ffffff; 
    border-radius: 20px;
    margin: 30px 0;
}


::-webkit-scrollbar-thumb {
    background: #000000; 
}


::-webkit-scrollbar-thumb:hover {
    background: #555; 
}



.dashboard2 table td{
    padding: 20px 0;    
    border-bottom: solid 1px #e0e0e0;
    cursor: pointer;
    
}

